<div>
    <div>

    </div>
    <div class="tableDiv">
        <table class="table table-sm table-bordered border-success">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col" class="text-center">Edit</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="restaurants" *ngFor='let restaurant of restaurants; let i = index'>
                    <th scope="row">{{i+1}}</th>
                    <td>{{restaurant.name}}</td>
                    <td>{{restaurant.address}}</td>
                    <td class="action">edit</td>
                    <td (click)='deleteRestaurant(restaurant.id)' class="action">delete</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>