.tableDiv {
    padding: 2% 10%;
    height: 94vh;
    overflow-y: auto;

    button {
        width: 100%;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        background-color: #F67280;
    }
}
